@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

.flashback {
width: 400px;
position: relative;
margin: 25px auto;
background: #fff;
border: 1px solid #e0e0e0;
border-bottom: 0px;
min-height: 200px;
}
.flashback .v-square {
width: 40px;
height: 40px;
border: 3px solid rgba(var(--dark),.8);
transform: rotate(45deg);
position: relative;
top: 25px;
left: 25px;
}
.flashback .v-icon:before {
content:var(--unicode);
font-family: starry;
color: rgba(var(--dark),.8);
font-size: 25px;
position: relative;
top: -5px;
left: 36px;
}
.flashback .v-date {
font-family: source sans pro;
font-size: 20px;
text-transform: uppercase;
color: rgba(var(--dark),.8);
font-weight: 600;
position: relative;
top: -35px;
left: 100px;
}
.flashback .v-bar {
width: 300px;
background: rgba(var(--dark),.8);
height: 3px;
position: relative;
left: 100px;
top: -30px;
}
.flashback .v-postbody {
padding: 40px;
text-align: left;
font-weight: 400;
font-family: source sans pro;
line-height: 25px;
font-size: 16px;
color: rgba(120,120,120,1);
padding-top: 0px;
padding-bottom: 25px;
}
.flashback .v-postbody b {
color: rgba(var(--dark),1);
}
.flashback .v-postbody i {
opacity: .7;
}
.flashback .v-postbody u {
text-decoration: none;
border-bottom: 2px solid rgba(var(--dark),1);
}
.flashback .v-notes {
background: rgba(var(--light),.2);
width: 350px;
position: relative;
left: 20px;
font-family: source sans pro;
line-height: 25px;
font-size: 13px;
color: rgba(var(--dark),1);
padding: 5px;
font-style: italic;
}
.flashback .v-notes a {
text-decoration: none;
text-transform: uppercase;
font-family: source sans pro;
line-height: 25px;
font-size: 15px;
color: rgba(120,120,120,1);
border-bottom: 2px solid rgba(var(--dark),1);
margin-right: 3px;
font-style: normal;
}
