@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,800;0,900;1,200;1,300;1,400;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap');

.jem-upper { 
width: 620px;
height: 10px;
background: rgba(var(--dark),1);
margin-left: auto;
margin-right: auto;
}

.jem-plotter {
width: 620px;
height: 470px;
margin-left: auto;
margin-right: auto;
position: relative;
overflow: hidden;
}
.jem-topper {
position: absolute;
bottom: 0px;
left: 0px;
width: 200px;
height: 50px;
background-color: rgba(var(--dark),.2);
text-align: center;
overflow: hidden;
z-index: 5;
}
.jem-topper b {
font-family: playfair display;
font-size: 40px;
font-weight: 900;
line-height: 45px;
color: rgba(var(--dark),1);
font-style: italic;
}
.jem-icon-box {
width: 200px;
height: 360px;
position: absolute;
top: 60px;
left: 0px;
overflow: hidden;
background-color: #fff;
background-image: url('blank');
background-repeat: no-repeat!important;
background-size: 200px!important;
background-repeat: no-repeat;
filter: grayscale(100%);
z-index: 5;
}
.jem-tab { float: left; }

.jem-plotter input { display: none; }

.jem-plotter input + label { 
background: rgba(var(--dark),.2);
margin-top: 0px;
width: 50px;
height: 50px;
display: inline-block;
color: rgba(var(--dark),1);
text-align: center;
-webkit-font-smoothing: antialiased;
-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out; 
transition: all 0.6s ease-in-out;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
font-size: 30px;
position: relative;
top: -1px;
left: 10px;
overflow: hidden;
margin-right: 10px;
}
.jem-bios {
width: 390px;
padding: 10px;
padding-left: 220px;
height: 30px;
background: #fff;
position: absolute;
bottom: 0px;
right: 0px;
z-index: 4;
font-family: roboto mono;
font-weight: 400;
text-transform: uppercase;
color: rgba(100,100,100,1);
font-size: 12px;
line-height: 30px;
word-spacing: -1px;
text-align: center;
overflow: hidden;
}
.jem-bios b {
color: rgba(var(--dark),1);
}
.jem-plotter input:checked + label {
background: rgba(var(--dark),1);
color: #fff;
-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out; 
transition: all 0.6s ease-in-out;
}
.jem-plotter input + label span {
margin-top: 10px;
}
.jem-tab-cont { 
position: absolute;
right: -420px;
top: 0px;
-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out; 
transition: all 0.6s ease-in-out;
transition-delay: 0.6s;
width: 420px;
height: 420px;
overflow-y: auto;
overflow-x: hidden;
}
.jem-plotter input:checked + label + .jem-tab-cont { 
right: 0px;
-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out; 
transition: all 0.6s ease-in-out;
transition-delay: 0.6s;
}
.jem-tab-cont::-webkit-scrollbar { width: 10px;}
.jem-tab-cont::-webkit-scrollbar-thumb { background-color: rgba(Var(--dark),1); }
.jem-tab-cont::-webkit-scrollbar-track { background: #fff; }

.jem-plotter .thread-box {
background: #f8f8f8;
padding: 10px;
margin: 0px;
padding-left: 0px;
}
.month-box {
width: 380px;
font-family: nunito;
font-weight: 700;
text-transform: uppercase;
font-size: 25px;
text-align: center;
color: rgba(var(--dark),1);
text-transform: uppercase;
line-height: 20px;
background: rgba(var(--dark),.2);
padding: 10px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
margin-bottom: 5px;
}
.month-box:after {
content: var(--unicode);
font-family: starry;
color: rgba(var(--dark), .5);
position: absolute;
right: 20px;
}
.jem-plotter .thread-ongoing {
width: 380px;
padding: 10px;
height: 38px;
margin-bottom: 3px;
overflow: hidden;
border-bottom: 1px solid #dcdcdc;
}
.jem-plotter .thread-closed {
width: 370px;
padding: 10px;
height: 38px;
margin-bottom: 5px;
overflow: hidden;
border-bottom: 1px solid #dcdcdc;
}
.jem-plotter .thread-title {
color: rgba(var(--dark),1);
font-family: nunito;
font-weight: 700;
text-transform: uppercase;
font-size: 20px;
text-align: left;
position: relative; 
left: 50px;
top: -25px;
height: 20px;
z-index: 4;
}
.jem-plotter .thread-title a {
color: rgba(var(--dark),1);
text-decoration: none;
}
.jem-plotter .thread-closed .thread-title a {
color: rgba(120,120,120,.5);
}
.jem-plotter .thread-icon {
width: 40px;
height: 20px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
background-color: rgba(var(--dark),.3);
text-align: right;
overflow: visible;
margin-left: -10px;
padding-right: 10px;
line-height: 20px;
}
.jem-plotter .thread-closed .thread-icon {
background-color: rgba(240,240,240,1);
}
.jem-plotter .thread-ongoing .thread-icon:before {
content: 'open';
font-family: 'roboto mono';
text-transform: uppercase;
color: rgba(var(--dark),1);
font-size: 12px;
}
.jem-plotter .thread-closed .thread-icon:before {
content: 'fin.';
font-family: 'roboto mono';
text-transform: uppercase;
color: rgba(120,120,120,.6);
font-size: 12px;
}
.jem-plotter .tag-box {
width: 340px;
height: 40px;
position: relative;
top: -20px;
left: 50px;
text-align: left;
}
.jem-plotter .thread-ongoing tag {
font-family: nunito;
font-weight: 400;
color: rgba(120,120,120,1);
font-size: 13px;
line-height: 15px;
text-transform: lowercase;
display: inline-block;
margin-left: 5px;
padding: 4px;
margin-bottom: 4px; 
}
.jem-plotter .thread-ongoing tag:before {
content: '• ';
color: rgba(var(--dark),.9);
font-weight: bold;
}
.jem-plotter .thread-closed tag {
font-family: ubuntu;
font-weight: 400;
color: rgba(120,120,120,.8);
font-size: 13px;
line-height: 15px;
text-transform: lowercase;
display: inline-block;
margin-left: 5px;
padding: 4px;
margin-bottom: 4px; 
}
.jem-plotter .thread-closed tag:before {
content: '• ';
color: rgba(120,120,120,.4);
font-weight: bold;
}
.jem-rel-key {
width: 420px;
background: #f8f8f8;
text-align: left;
height: 51px;
border-top: 1px solid #dcdcdc;
}
.jem-rel-key key {
font-family: roboto mono;
font-weight: 700;
color: rgba(var(--dark),1);
font-size: 12px;
text-align: left;
text-transform: uppercase;
padding: 5px;
padding-right: 15px;
background: rgba(var(--dark),.2);
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
height: 15px;
line-height: 15px;
position: relative;
top: -5px;
margin-right: 20px;
}
.jem-rel-key span {
text-align: center;
font-size: 18px;
font-family: starry;
-webkit-font-smoothing: antialiased;
background: rgba(var(--dark),1);
padding: 5px;
border-radius: 100px;
color: #fff;
height: 20px;
width: 22px;
padding-top: 7px;
margin-right: 5px;
margin-top: 10px;
}
.jem-rel-container { 
width: 400px;
padding: 10px;
height: 348px;
overflow: auto;
display: flex;
gap:9px;
flex-wrap:wrap;
align-content:flex-start;
background: #fff;
}
.jem-rel-container::-webkit-scrollbar { width: 10px;}
.jem-rel-container::-webkit-scrollbar-thumb { background-color: rgba(Var(--dark),1); }
.jem-rel-container::-webkit-scrollbar-track { background: #fff; }

.jem-rel-container family {
font-family: nunito;
font-weight: 700;
color: rgba(var(--dark),1);
line-height: 12px;
text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
background-color: rgba(var(--dark),.1);
padding: 4px 6px;
text-transform: uppercase;
font-size: 12px;
text-align: left;
height: 20px;
line-height: 20px;
flex-grow: 1;
flex-basis: auto;
overflow: hidden;
}
.jem-rel-container family:before {
content: '\a37';
font-family: 'starry';
-webkit-font-smoothing: antialiased;
font-size: 18px;
margin-right: 5px;
font-weight: 400;
float: left;
border-right: 1px solid rgba(var(--color), 1);
padding-right: 5px;
}
.jem-rel-container lover {
font-family: nunito;
font-weight: 700;
color: rgba(var(--dark),1);
line-height: 12px;
text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
background-color: rgba(var(--dark),.1);
padding: 4px 6px;
text-transform: uppercase;
font-size: 12px;
text-align: left;
height: 20px;
line-height: 20px;
padding: 4px;
flex-grow: 1;
flex-basis: auto;
overflow: hidden;
}
.jem-rel-container lover:before {
content: '\a97';
font-family: 'starry';
-webkit-font-smoothing: antialiased;
font-size: 18px;
margin-right: 5px;
font-weight: 400;
float: left;
border-right: 1px solid rgba(var(--color), 1);
padding-right: 5px;
}
.jem-rel-container friend {
font-family: nunito;
font-weight: 700;
color: rgba(var(--dark),1);
line-height: 12px;
text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
background-color: rgba(var(--dark),.1);
padding: 4px 6px;
text-transform: uppercase;
font-size: 12px;
text-align: left;
height: 20px;
line-height: 20px;
padding: 4px;
flex-grow: 1;
flex-basis: auto;
overflow: hidden;
}
.jem-rel-container friend:before {
content: '\a39';
font-family: 'starry';
-webkit-font-smoothing: antialiased;
font-size: 18px;
margin-right: 5px;
font-weight: 400;
float: left;
border-right: 1px solid rgba(var(--color), 1);
padding-right: 5px;
}
.jem-rel-container knows {
font-family: nunito;
font-weight: 700;
color: rgba(var(--dark),1);
line-height: 12px;
text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
background-color: rgba(var(--dark),.1);
padding: 4px 6px;
text-transform: uppercase;
font-size: 12px;
text-align: left;
height: 20px;
line-height: 20px;
padding: 4px;
flex-grow: 1;
flex-basis: auto;
overflow: hidden;
}
.jem-rel-container knows:before {
content: '\a68';
font-family: 'starry';
-webkit-font-smoothing: antialiased;
font-size: 18px;
margin-right: 5px;
font-weight: 400;
float: left;
border-right: 1px solid rgba(var(--color), 1);
padding-right: 5px;
}
.jem-rel-container enemy {
font-family: nunito;
font-weight: 700;
color: rgba(var(--dark),1);
line-height: 12px;
text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
background-color: rgba(var(--dark),.1);
padding: 4px 6px;
text-transform: uppercase;
font-size: 12px;
text-align: left;
height: 20px;
line-height: 20px;
padding: 4px;
flex-grow: 1;
flex-basis: auto;
overflow: hidden;
}
.jem-rel-container enemy:before {
content: '\a70';
font-family: 'starry';
-webkit-font-smoothing: antialiased;
font-size: 18px;
margin-right: 5px;
font-weight: 400;
float: left;
border-right: 1px solid rgba(var(--color), 1);
padding-right: 5px;
}
.jem-canons-title {
font-family: nunito;
font-size: 30px;
color: rgba(var(--dark),1);
font-weight: 700;
position: absolute;
top: 15px;
left: 10px;
}
.jem-canons { 
position: absolute;
top: 45px;
left: 10px;
background: #fff;
width: 200px;
height: 260px;
padding: 10px;
padding-top: 5px;
font-family: nunito;
overflow: auto;
font-size: 14px;
line-height: 16px;
text-transform: lowercase;text-align: left;

color: rgba(100,100,100,1);
font-weight: 400;
}
.jem-canons::-webkit-scrollbar { width: 8px;}
.jem-canons::-webkit-scrollbar-thumb { background-color: rgba(Var(--dark),.8); }
.jem-canons::-webkit-scrollbar-track { background: #fff; }

.jem-canons ul {
border: 0px;
margin: 0px;
padding-left: 5px;
list-style: none;
}
.jem-canons ul li::before {
content: "•";
color: rgba(var(--dark),1);
font-weight: bold;
display: inline-block;
width: 1em;
}
.jem-canons ul li {
margin-top: 5px;
}
.jem-canons a {
color: rgba(var(--dark),1);
text-decoration: none;
}
.jem-items-title {
font-family: nunito;
font-size: 30px;
color: rgba(var(--dark),1);
font-weight: 700;
position: absolute;
top: 15px;
left: 235px;
}
.jem-wand {
position: absolute;
top: 45px;
left: 235px;
background: #fff;
width: 175px;
padding: 5px;
color: rgba(var(--dark),1);
font-family: roboto mono;
font-size: 14px;
text-transform: uppercase;
font-weight: 400;
text-align: left;
word-spacing: -4px;
height: 55px;
}
.jem-wand-desc {
position: absolute;
left: 235px;
widtH: 175px;
height: 109px;
padding: 5px;
background: #fff;
top: 115px;
font-family: nunito;
font-weight: 400;
color: rgba(100,100,100,1);
font-size: 13px;
line-height: 16px;
overflow: auto;
text-align: left;
text-transform: lowercase;
}
.jem-wand-desc::-webkit-scrollbar { width: 6px;}
.jem-wand-desc::-webkit-scrollbar-thumb { background-color: rgba(Var(--dark),.8); }
.jem-wand-desc::-webkit-scrollbar-track { background: #fff; }
.jem-item-cont {
position: absolute;
left: 235px;
top: 238px;
background: #fff;
width: 165px;
padding: 10px;
height: 158px;
display: flex;
gap:4px;
flex-wrap:wrap;
align-content:flex-start;
overflow: auto;
}
.jem-item-cont item {
font-family: roboto mono;
font-size: 12px;
line-height: 12px;
font-weight: 400;
color: rgba(var(--dark),1);
text-transform: uppercase;
padding: 4px 6px;
background: rgba(var(--dark),.1);
}
.jem-item-cont::-webkit-scrollbar { width: 6px;}
.jem-item-cont::-webkit-scrollbar-thumb { background-color: rgba(Var(--dark),.8); }
.jem-item-cont::-webkit-scrollbar-track { background: #fff; }
.jem-skill-box {
position: absolute;
left: 10px;
width: 200px;
padding: 10px;
height: 75px;
background: #fff;
top: 325px;
text-align: left;
padding-top: 5px;
}
.jem-skill-box skill {
font-family: roboto mono;
font-size: 9px;
text-transform: uppercase;
color: rgba(100,100,100,1);
line-height: 10px;
}
.jem-skillbar {
background-color: #dcdcdc;
max-width: 200px;
height: 4px;
margin-top: -2px;
margin-bottom: 1px;
}
