@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
.loveade {
width: 400px;
position: relative;
margin: 25px auto;
background: #fff;
min-height: 200px;
}
.loveade .love-icon {
height: 70px;
width: 70px;
border-radius: 100%;
background: rgba(var(--dark),.2);
text-align: center;
position: relative;
top: 10px;
left: 10px;
}
.loveade .love-icon:before {
content: var(--unicode);
font-family: starry;
-webkit-font-smoothing: antialiased;
color: rgba(var(--dark),1);
font-size: 35px;
line-height: 70px;

}
.loveade .love-bar {
width: 295px;
height: 5px;
background: linear-gradient(to right, rgba(var(--dark),.2), rgba(var(--dark),1));
position: relative;
top: -30px;
left: 79px;
}
.loveade .love-dot {
width: 15px;
height: 15px;
background: rgba(var(--dark),1);
border-radius: 100%;
position: relative;
left: 370px;
top: -40px;
}
.loveade .love-postbody {
padding: 35px;
text-align: left;
font-weight: 400;
line-height: 25px;
font-size: 15px;
color: rgba(120,120,120,1);
font-family: roboto;
padding-top: 5px;
padding-bottom: 20px;
}
.loveade .love-postbody b {
color: rgba(var(--dark),1);
}
.loveade .love-postbody i {
opacity: .8;
}
.loveade .love-postbody u {
text-decoration: none;
border-bottom: 2px solid rgba(var(--dark),1);
}
.loveade .love-date {
width: 300px;
font-family: roboto;
font-weight: 500;
font-size: 14px;
position: relative;
left: 63px;
top: -38px;
text-align: right;
background:  -webkit-linear-gradient(top, rgba(var(--dark),1), rgba(var(--dark),.8));
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
height: 15px;
margin-bottom: -15px;
}
.loveade .love-notes {
width: 360px;
padding: 10px;
background: -webkit-linear-gradient(left, rgba(var(--dark),.2) 60%, #fff);
font-family: roboto;
font-weight: 400;
color: rgba(120,120,120,.8);
text-transform: lowercase;
font-size: 12px;
margin-left: 10px;
}
.loveade .love-notes a {
font-family: roboto;
font-weight: 500;
color: rgba(var(--dark),1);
font-size: 13px;
text-transform: uppercase;
margin-right: 4px;
}
.loveade .love-spacer {
height: 10px;
}
