@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,800;0,900;1,200;1,300;1,400;1,800;1,900&display=swap');


#jem {
  --unicode:'\a127';
  --dark: 208, 113, 175;
}

.lucid { 
width: 620px;
height: 480px;
background-color: #f5f5f5;
margin-left: auto;
margin-right: auto;
position: relative;
overflow: hidden;
}
.lucid-top-cont {
width: 600px;
height: 60px;
background-color: #fff;
padding: 10px;
outline-style: solid;
outline-color: #dcdcdc;
outline-width: 1px;
outline-offset:-10px;
}
.lucid-tab { float: left; }
.lucid input { display: none; }
.lucid input + label {
display: inline-block; 
font-size: 30px;
width: 50px;
height: 50px;
padding: 10px;
overflow: hidden;
border-radius: 50%;
transform: scale(.48);
margin-right: -27px;
background: rgba(var(--dark),.2);
color: rgba(var(--dark),1);
font-weight: bold;
border: 1px solid rgba(var(--dark),1);
-webkit-font-smoothing: antialiased;
-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out; 
transition: all 0.6s ease-in-out;
position: relative;
top: -76px;
text-align: center;
}
.lucid input:checked + label {
background: rgba(var(--dark),1);
transform: scale(.7);
overflow: hidden;
-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out; 
transition: all 0.6s ease-in-out;
top: -77px;
margin-left: 5px;
margin-right: -25px;
background-image: url('https://i.ibb.co/VVkBCw0/FP3-KTZBXEAEbi-Zb.png');
background-blend-mode:luminosity;
background-size: 100%;
background-repeat: no-repeat;
}

.lucid input + label span {
position: relative;
top: 10px;
opacity: 1;
z-index: 4;
-webkit-transition: all 0.6s ease;
-moz-transition: all 0.6s ease;
-o-transition: all 0.6s ease; 
transition: all 0.6s ease;
}
.lucid input:checked + label span {
opacity: 0;
-webkit-transition: all 0.6s ease;
-moz-transition: all 0.6s ease;
-o-transition: all 0.6s ease; 
transition: all 0.6s ease;
}
.lucid #flynn input:checked + label {
background-image: url('https://i.ibb.co/TvNDzqx/flynn.png');
}
.lucid #amber input:checked + label {
background-image: url('https://i.ibb.co/q5tSmKV/amber.png');
}
.lucid #olive input:checked + label {
background-image: url('https://i.ibb.co/X7zQ3x9/olive.png');
}
.lucid #rook input:checked + label {
background-image: url('https://i.ibb.co/85JdKhK/rook.png');
}
.lucid #mars input:checked + label {
background-image: url('https://i.ibb.co/BnM6WSq/mars.png');
}
.lucid #cain input:checked + label {
background-image: url('https://i.ibb.co/bB19n4n/cain.png');
}
.lucid #val input:checked + label {
background-image: url('https://i.ibb.co/LCKcjzj/val.png');
}
.lucid #leo input:checked + label {
background-image: url('https://i.ibb.co/g4Bhkkk/leo.png');
}
.lucid #rafe input:checked + label {
background-image: url('https://i.ibb.co/DL2bfvb/rafe.png');
}
.lucid #odin input:checked + label {
background-image: url('https://i.ibb.co/DpNCyCv/odin.png');
}
.lucid #vanille input:checked + label {
background-image: url('https://i.ibb.co/5hbFWsD/vanille.png');
}
.lucid #yuli input:checked + label {
background-image: url('https://i.ibb.co/sQg0Qqw/yuli.png');
}
.lucid-cont { 
background-color: #f5f5f5;
position: absolute;
top: 80px;
left: -620px;
width: 620px;
height: 420px;
-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out; 
transition: all 0.6s ease-in-out;
transition-delay: 0.6s;
}
.lucid input:checked + label + .lucid-cont {
left: 0px;
top: 80px;
-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out; 
transition: all 0.6s ease-in-out;
}
.lucid-icon {
width: 200px;
height: 360px;
background: rgba(var(--dark),1);
outline-style: solid;
outline-color: rgba(var(--dark),1);
outline-width: 1px;
outline-offset:10px;
position: absolute;
top: 20px;
left: 20px;
overflow: hidden;
}
.lucid-bg {
background-size: 100%;
background-repeat: no-repeat;
width: 200px;
height: 360px;
opacity: .5;
}

.lucid-hover-me {
background: rgba(var(--dark),1);
width: 140px;
height: 30px;
position: absolute;
top: 330px;
left: 30px;
font-family: raleway;
font-weight: 900;
letter-spacing: 1px;
color: #fff;
text-transform: uppercase;
font-size: 12px;
-webkit-border-top-left-radius: 40px;
-webkit-border-top-right-radius: 40px;
-moz-border-radius-topleft: 40px;
-moz-border-radius-topright: 40px;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
line-height: 35px;
text-align: center;
-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out; 
transition: all 0.6s ease-in-out;
}
.lucid-icon:hover .lucid-hover-me {
opacity: 0;
-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out; 
transition: all 0.6s ease-in-out;
}
.lucid-biog { 
width: 180px;
height: 135px;
background-color: #fff;
opacity: 1;
position: absolute;
top: 360px;
left: 10px;
-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out; 
transition: all 0.6s ease-in-out;

border: 1px solid rgba(var(--dark),1);
}
.lucid-icon:hover .lucid-biog {
top: 215px;
-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
-o-transition: all 0.6s ease-in-out; 
transition: all 0.6s ease-in-out;
}
.lucid-biog-cont { 
width: 180px;
height: 135px;
background-color: rgba(var(--dark),.1);
position: absolute;
top: 0px;
left: 0px;
}
.lucid-biog bio {
display: block;
font-family: roboto;
font-weight: 700;
font-size: 15px;
color: rgba(var(--dark),1);
text-transform: uppercase;
letter-spacing: 1px;
display: block;
text-align: left;
line-height: 15px;
margin-top: 15px;
word-spacing: -1px;
text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
.lucid-biog bio:before {
content: '';
font-size: 30px;
float: left;
width: 19px;
height: 5px;
margin-top: 3px;
background-color: rgba(var(--dark),.5);
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
margin-right: 4px;
border: 1px solid #fff;
border-left: 0px;
}
.lucid-name {
font-family: playfair display;
font-weight: 900;
color: rgba(var(--dark),1);
position: absolute;
top: 9px;
left: 240px;
width: 355px;
text-align: left;
font-size: 38px;
font-style: italic;
height: 50px;
line-height: 50px;

}
.lucid-shape {
background: rgba(var(--dark),.1);
width: 375px;
height: 30px;
position: absolute;
top: 9px;
left: 230px;
height: 50px;
-webkit-border-top-right-radius: 30px;
-webkit-border-bottom-right-radius: 30px;
-moz-border-radius-topright: 30px;
-moz-border-radius-bottomright: 30px;
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
}
.lucid-plot {
background: rgba(255,255,255,1);
width: 350px;
height: 220px;
position: absolute;
left: 240px;
top: 70px;
padding: 10px;
font-family: nunito;
font-weight: 400;
color: rgba(120,120,120,.9);
font-size: 15px;
line-height: 22px;
text-transform: lowercase;
text-align: left;
text-shadow: -1px 0 #f3f3f3, 0 1px #f3f3f3, 1px 0 #f3f3f3, 0 -1px #f3f3f3;
color: rgba(100,100,100,1);
overflow-y: auto;
overflow-x: hidden;
}
.lucid-plot::-webkit-scrollbar { width: 4px;}
.lucid-plot::-webkit-scrollbar-thumb { background-color: rgba(Var(--dark),.8); }
.lucid-plot::-webkit-scrollbar-track { background: #fff; }
.lucid-plot b {
color: rgba(var(--dark),1);
}
.lucid-plot i {
opacity: .8;
}
.lucid-outer-want {
height: 70px;
width: 370px;
position: absolute;
top: 320px;
left: 240px;
overflow-y: auto;
overflow-x: hidden;
}
.lucid-outer-want::-webkit-scrollbar { width: 4px;}
.lucid-outer-want::-webkit-scrollbar-thumb { background-color: rgba(Var(--dark),.8); }
.lucid-outer-want::-webkit-scrollbar-track { background: #fff; }
.lucid-wants { 
display: flex;
flex-wrap: wrap;
gap: 5px;
}
.lucid-wants want {
background-color: rgba(var(--dark),.2);
padding: 4px 6px;
font-size: 12px;
font-family: nunito;
text-transform: uppercase;
color: rgba(var(--dark),1);
font-weight: 700;
display: inline-block;
line-height: 12px;
text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
.lucid-app { 
height: 40px;
width: 40px;
background: rgba(255,255,255,.5);
position: absolute;
top: 14px;
left: 560px;
border-radius: 100px;
color: rgba(var(--dark),1);
text-shadow: -1px 0 #f3f3f3, 0 1px #f3f3f3, 1px 0 #f3f3f3, 0 -1px #f3f3f3;
-webkit-font-smoothing: antialiased;
text-align: center;
font-size: 25px;
}
.lucid-app a {
color: rgba(var(--dark),1);
text-decoration: none;
}
.lucid-app span {
margin-top: 9px;
}