#ara {
--dark:134, 73, 140;
--light:198, 161, 201;
--unicode: '\a91';
}
#audrey {
--dark:235, 126, 91;
--light:255, 159, 128;
--unicode: '\a85';
}
#caelum {
--dark:163, 59, 76;
--light:201, 139, 149;
--unicode: '\a46';
}
#dima {
--dark:53,76,125;
--light:111, 129, 168;
--unicode: '\a67';
}
#julyan {
--dark:140, 154, 230;
--light:199, 206, 237;
--unicode: '\e905';
}

#louka {
--dark:121,189,154;
--light:171,219,194;
--unicode: '\a92';
}
#lyna {
--dark:250, 135, 168;
--light:242, 206, 216;
--unicode: '\a1';
}
#mika {
--dark:138,155,15;
--light:191, 204, 98;
--unicode: '\a47';
}
#nate {
--dark:227, 174, 52;
--light:237,201,81;
--unicode: '\a78';
}
#nico {
--dark:214, 74, 56;
--light: 230, 148, 138;
--unicode: '\e908';
}
#stellan {
--dark:106, 163, 160;
--light: 140, 171, 169;
--unicode: '\a137';
}
