.v-temp {
--dark:121,189,154;
--light:171,219,194;
}

.vann-header {
width: 560px;
height: 100px;
padding: 20px;
border: 1px solid rgba(51,51,51,0.1);
border-left: 1px solid rgba(var(--dark),1);
background-color: #f2f2f2;
position: relative;
overflow: hidden;
z-index: 99;
}

.vann-rot {
width: 200px;
height: 200px;
padding: 10px;
background-color: rgba(var(--dark),1);
transform: rotate(50deg);
position: absolute;
left: -95px;
top: 20px;
}
.vann-main-track { 
width: 560px;
height: 450px;
padding: 20px;
height: 400px;
position: relative;
z-index: 100;
border: 1px solid rgba(51,51,51,.1);
border-top: 0px;
background-color: #fff;
}
.vann-big-icon {
width: 190px;
height: 190px;
background-color: #fff;
border: 10px solid rgba(var(--dark),1);
border-radius: 50%;
position: absolute;
left: 20px;
top: 80px;
z-index: 106;
background-position: center;
background-repeat: no-repeat;
}
.vann-chara-name {
font-family: poppins;
font-weight: 600;
font-size: 45px;
letter-spacing: -1px;
font-style: italic;
color: rgba(var(--dark),1);
float: right;
line-height: 40px;
text-align: right;
text-transform: uppercase;
text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
.vann-chara-details {
font-family: poppins;
text-transform: lowercase;
font-weight: 700;
font-size: 11px;
color: rgba(var(--dark),1);
position: absolute;
width: 400px;
top: 110px;
right: 10px;
text-align: right;
text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
opacity: 0.7;
}
.vann-wand {
color: rgba(51,51,51,.4);
font-family: poppins;
font-weight: 600;
font-size: 35px;
letter-spacing: -1px;
position: absolute;
left: 40px;
top: 165px;
z-index: 102;
line-height: 40px;
text-align: left
text-transform: uppercase;
background: linear-gradient(to top left, rgba(var(--light),0.8), rgba(var(--dark),1)); 
-webkit-background-clip: text; 
-webkit-text-fill-color: transparent;
}
.vann-main-track span {
position: absolute;
left: 20px;
top: 150px;
z-index: 101;
color: rgba(var(--light),0.5);
font-size: 50px;
}
.vann-line {
width: 220px;
height: 5px;
background-color: rgba(var(--dark), 1);
border: 1px solid #fff;
position: absolute;
left: -5px;
top: 210px;
-webkit-border-top-right-radius: 100px;
-webkit-border-bottom-right-radius: 100px;
-moz-border-radius-topright: 100px;
-moz-border-radius-bottomright: 100px;
border-top-right-radius: 100px;
border-bottom-right-radius: 100px;
opacity: 0.8;
}
.wand-facts {
width: 200px;
height: 205px;
position: absolute;
left: 10px;
top: 225px;
}
.wand-basics {
background-color: rgba(247,247,247,.8);
width: 180px;
padding: 10px;
font-family: poppins;
text-transform: lowercase;
font-weight: 600;
font-size: 12px;
color: rgba(var(--dark),1);
text-align: left;
border: 1px solid rgba(241,241,241,1);
}
.wand-lore {
background-color: rgba(247,247,247,.8);
width: 180px;
padding: 10px;
font-family: poppins;
text-transform: lowercase;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: rgba(51,51,51,.6);
text-align: left;
border: 1px solid rgba(241,241,241,1);
margin-top: 10px;
}
.thread-box {
height: 405px;
width: 325px;
float: right;
overflow: auto;
}
.thread-box::-webkit-scrollbar {
display: none;
}
.thread {
width: 295px;
height: 40px;
padding: 10px;
padding-top: 15px;
padding-left: 15px;
margin-top: 10px;
text-align: left;
border: 1px solid rgba(51,51,51,.1)
font-family: poppins;
text-transform: lowercase;
font-weight: 500;
font-size: 18px;
color: rgba(51,51,51,.4);
letter-spacing: -1px;
}
.thread b {
color: rgba(var(--dark),1);
font-size: 16px;
}
.ongoing {
background: linear-gradient(90deg, #f2f2f2 50%, rgba(var(--light),1));
}
.closed {
background: linear-gradient(90deg, #f2f2f2 50%, rgba(51,51,51,.2));
}
.thread a {
font-family: poppins;
text-transform: uppercase;
font-weight: 700;
font-size: 20px;
line-height: 19px;
text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
.ongoing a {
color: rgba(var(--dark),1);
}
.closed a {
color: rgba(51,51,51,.3);
}
.closed b {
color: rgba(51,51,51,.3);
}
.thread-date {
font-family: poppins;
text-transform: uppercase;
font-weight: 800;
font-size: 25px;
line-height: 24px;
text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
letter-spacing: 1px;
color: rgba(var(--dark),1);
}
.vann-stat {
width: 65px;
height: 70px;
display: inline-block;
position: relative;
left: 100px;
top: 0px;
margin-left: 15px;
}
.vann-stat b {
background: linear-gradient(to top right, rgba(var(--light),0.8), rgba(var(--dark),1));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: poppins;
font-weight: 700;
font-size: 11px;
text-align: center;
text-transform: uppercase;
}
.vann-stat-icon
{
width: 50px;
height: 50px;
border-radius: 50%;
border: 3px solid #f2f2f2;
text-align: center;
font-size: 25px;
line-height: 55px;
color: rgba(51,51,51,.3);
}
.canons {
background-color: rgba(247,247,247,.7);
width:180px;
font-family: poppins;
text-transform: lowercase;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: rgba(51,51,51,.6);
text-align: left;
border: 1px solid rgba(241,241,241,1);
position: absolute;
left: 10px;
top: 200px;
height: 215px;
padding: 10px;
padding-top: 0px;
overflow: auto
}
.canons::-webkit-scrollbar { display: none; }
.canons ul {
border: 0px;
margin: 0px;
padding: 5px;
padding-left: 10px;
list-style: none;
color: rgba(51,51,51,.5);
}
.canons ul li::before {
content: "•";
color: rgba(var(--dark),1);
font-weight: bold;
display: inline-block;
width: 1em;
margin-left: -1em;
}
.canons ul li {
margin-top: 3px;
}
.right-text {
color: rgba(51,51,51,.4);
font-family: poppins;
font-weight: 600;
font-size: 20px;
letter-spacing: -1px;
position: absolute;
right: 20px;
top: 100px;
z-index: 102;
line-height: 40px;
text-align: left
text-transform: uppercase;
background: linear-gradient(to top left, rgba(var(--light),0.8), rgba(var(--dark),1)); 
-webkit-background-clip: text; 
-webkit-text-fill-color: transparent;
}
.right-line {
width: 360px;
height: 5px;
background: rgba(var(--dark),1); 
border: 1px solid #fff;
position: absolute;
right: -5px;
top: 135px;
-webkit-border-top-left-radius: 100px;
-webkit-border-bottom-left-radius: 100px;
-moz-border-radius-topleft: 100px;
-moz-border-radius-bottomleft: 100px;
border-top-left-radius: 100px;
border-bottom-left-radius: 100px;
opacity: 0.8;
}
.inventory-box {
border: 1px solid rgba(51,51,51,0.1);
background-color: rgba(242,242,242,.7);
width: 325px;
height: 65px;
padding: 5px;
position: absolute;
right: 10px;
top: 150px;
text-align: left;
line-height: 32px;
overflow: auto;
}
.inventory-box::-webkit-scrollbar { display: none; }
.inventory-box b {
font-family: poppins;
text-transform: lowercase;
font-weight: 600;
font-size: 11px;
color: rgba(51,51,51,.5);
text-align: left;
text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
background-color: rgba(251,251,251,.8);
border: 1px solid rgba(51,51,51,.1);
padding: 5px;
line-height: 12px;
margin: 0px 5px 5px 0px;
}
.rel-key { 
position: absolute;
right: 10px;
top: 275px;
background-color: rgba(251,251,251,.8);
border: 1px solid rgba(51,51,51,.1);
width: 315px;
height: 125px;
padding: 10px;
overflow: auto;
display: flex;
flex-wrap: wrap;
justify-items: flex-start;
align-content: flex-start;
}
.rel-key::-webkit-scrollbar { display: none; }
.rel-box {
display: flex;
flex-align: center;
flex-wrap: no-wrap;
justify-items: center;
align-items: center;
justify-content: left;
align-content: left;
flex-grow: 1;
line-height: 100%;
font-family: poppins;
text-transform: uppercase;
font-weight: 500;
font-size: 12px;
color: rgba(51,51,51,.5);
text-align: left;
text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
background-color: #fff;
border: 1px solid rgba(51,51,51,.1);
padding: 10px;
margin: 0px 5px 5px 0px;
height: 15px;
}
.rel-box span {
font-size: 18px;
color: rgba(var(--light),0.8);
background: linear-gradient(to top right, rgba(var(--light),0.8), rgba(var(--dark),1));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-shadow: none;
margin-right: 5px;
font-weight: 900;
}
